@model IEnumerable<SEPApplication.Models.Member>

@{
    ViewBag.Title = "Index";
    var db = ViewBag.DB as SEPApplication.Models.sepoopcsEntities;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>
        <th>
           Day
        </th>
       
        <th>
           Radio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
           @{
    var courseId = (int)ViewBag.CourseId;
    var sessionList = db.Sessions.Where(s => s.Course_id == courseId).Select(s => s.id);
    var attendence = db.Attendances.ToList();
    var count = attendence.Count(a => a.Member_id == item.id && sessionList.Contains(a.Session_id));
           }
            @count/@sessionList.Count()
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
